// Colors
$gray:#a1a1a1;
$gray-light:#cccccc;
$gray-medium: #666666;
$gray-dark: #555555;

// Font Weights
$light: 300;
$regular: 400;
$bold: 700;

// Fonts
$main-font: 'Roboto', sans-serif;

// Widths
$max-width:1280px;

// DEVICES
$desktop-width:    1114px;
$phablet-width:     936px;
$tablet-width:     768px;
$mobile-width:     600px;
